<%= link_to "Sign Up", "signup" %>

<%= link_to "Log In", login_path%>

<!-- [section_dd][column_dd span='12'][spacer_dd pixels='10'][/spacer_dd][/column_dd][/section_dd][section_dd section_title='How it Works' section_id='howitworks'][column_dd span='4'][service_box_dd title='1. Start your search.' icon='entypo-search' type='round' target='_self'] -->
<br>
<div style="text-align: center;">
  <span style="font-size: 12pt;">
    Fill out our contact form and let us know what look you want to express your brand.
  </span>
</div>
<!-- [/service_box_dd][/column_dd][column_dd span='4'][service_box_dd title='2. Choose the right look.' icon='entypo-heart' type='round' target='_self']
 --><div style="text-align: center;">
  <span style="font-size: 12pt;">
    You will be sent a list of qualified My Style Blox talent members to choose from.
  </span>
</div>
[/service_box_dd][/column_dd][column_dd span='4'][service_box_dd title='3. Pay talent safely.' icon='fa-dollar' type='round' target='_self']
<div style="text-align: center;">
  <span style="font-size: 12pt;">
    My Style Blox even handles all the invoicing and taxes so you don’t have to.
  </span>
</div>
[/service_box_dd][/column_dd][/section_dd][section_dd][column_dd span='12'][spacer_dd pixels='50'][/spacer_dd][/column_dd][/section_dd][section_dd section_title='Find or Be Found' section_id='request' class='color_overlayed section-search' fullwidth='1' no_column_margin='1' bg_image='http://mystyleblox.com/wp-content/uploads/2014/12/modelfaces.jpg'][column_dd span='6' class='center_aligned'][text_dd]
<div style="text-align: center;">
  <span style="font-size: 14pt; color: #ffffff;">
    Complete our request form to find the talent you need.
  </span>
</div>
[/text_dd][spacer_dd pixels='30'][/spacer_dd][button_dd text='Request Talent' size='large' color='red' style='rounded' url='http://mystyleblox.com/request' target='_self'][/button_dd][spacer_dd pixels='50'][/spacer_dd][/column_dd][column_dd span='6' class='center_aligned'][text_dd]
<div style="text-align: center;">
  <span style="font-size: 14pt; color: #ffffff;">
    Submit your profile to become a My Style Blox talent member.
  </span>
</div>
[/text_dd][spacer_dd pixels='30'][/spacer_dd][button_dd text='Submit Profile' size='large' color='red' style='rounded' url='http://mystyleblox.com/join-my-style-blox' target='_self'][/button_dd][spacer_dd pixels='50'][/spacer_dd][/column_dd][/section_dd][section_dd][column_dd span='12'][spacer_dd pixels='50'][/spacer_dd][/column_dd][/section_dd][section_dd section_title='Why My Style Blox' section_id='why' class='section-question'][column_dd span='3'][service_box_dd title='Simplicity' icon='entypo-thumbsup' type='round' target='_self']
<span style="font-size: 14pt;">
  Discover. Book. Pay. All from one platform.
</span>
[/service_box_dd][/column_dd][column_dd span='3'][service_box_dd title='Fee free' icon='entypo-cc-nc' type='round' target='_self']
<span style="font-size: 14pt;">
  Pay for the talent only with no agency fees.
</span>
[/service_box_dd][/column_dd][column_dd span='3'][service_box_dd title='Concierge service' icon='fa-smile-o' type='round' target='_self']
<span style="font-size: 14pt;">
  24/7 support before, during and even after you book.
</span>
[/service_box_dd][/column_dd][column_dd span='3'][service_box_dd title='Convenient' icon='entypo-paypal' type='round' target='_self']
<span style="font-size: 14pt;">
  Easy payments with debit, credit and Paypal.
</span>
<!-- [/service_box_dd][/column_dd][/section_dd][section_dd][column_dd span='12'][spacer_dd pixels='50'][/spacer_dd][/column_dd][/section_dd][section_dd section_title='Hire an Entire Team' section_id='entireteam' section_intro='Browse hundreds of photographers, hair & makeup artists, models and wardrobe stylists all in one place.' class='center_aligned color_overlayed section-users' fullwidth='1' bg_image='http://mystyleblox.com/wp-content/uploads/2014/12/hire-background.png'][column_dd span='3'][image_dd url='http://mystyleblox.com/wp-content/uploads/2014/12/model.png' animation='fadeIn' duration='2000' delay='0'][/image_dd][spacer_dd pixels='30'][/spacer_dd][/column_dd][column_dd span='3'][image_dd url='http://mystyleblox.com/wp-content/uploads/2014/12/photographer.png' animation='fadeIn' duration='2000' delay='0'][/image_dd][spacer_dd pixels='30'][/spacer_dd][/column_dd][column_dd span='3'][image_dd url='http://mystyleblox.com/wp-content/uploads/2014/12/Hair-and-Makeup.png' animation='fadeIn' duration='2000' delay='0'][/image_dd][spacer_dd pixels='30'][/spacer_dd][/column_dd][column_dd span='3'][image_dd url='http://mystyleblox.com/wp-content/uploads/2014/12/Wardrobe.png' animation='fadeIn' duration='2000' delay='0'][/image_dd][spacer_dd pixels='30'][/spacer_dd][/column_dd][/section_dd][section_dd][column_dd span='12'][spacer_dd pixels='50'][/spacer_dd][/column_dd][/section_dd][section_dd section_title='Talent of the Month' section_id='featured' class='section-star2' fullwidth='1'][column_dd span='3' class='center_aligned'][image_dd url='http://mystyleblox.com/wp-content/uploads/2014/12/NewAndrea1.png' animation='fadeIn' duration='0' delay='0' class='center_aligned'][/image_dd][text_dd] -->
<div style="text-align: center;">
  <span style="color: #000000;">
    <span style="color: #000000;">
      <strong><span style="font-size: 18pt;">Andrea </span></strong>
    </span>
  </span>
  <span style="color: #000000;">
    <span style="font-size: 18pt; color: #999999;">
      <span style="font-size: 12pt;">
        Model
      </span>
    </span>
  </span>
</div><!--  [/text_dd][spacer_dd pixels='50'][/spacer_dd][/column_dd][column_dd span='3' class='center_aligned'][image_dd url='http://mystyleblox.com/wp-content/uploads/2014/12/JaimeFront.png' animation='fadeIn' duration='0' delay='0' class='center_aligned'][/image_dd][text_dd]  -->
<div style="text-align: center;">
  <span style="color: #000000;">
    <span style="color: #000000;">
      <strong><span style="font-size: 18pt;">Jaime </span></strong>
    </span>
  </span>
  <span style="color: #000000;">
    <span style="font-size: 18pt; color: #999999;">
      <span style="font-size: 12pt;">
        Photographer
      </span>
    </span>
  </span>
</div><!--        [/text_dd][spacer_dd pixels='50'][/spacer_dd][/column_dd][column_dd span='3' class='center_aligned'][image_dd url='http://mystyleblox.com/wp-content/uploads/2014/12/cassandra1.png' animation='fadeIn' duration='0' delay='0' class='center_aligned'][/image_dd][text_dd]  -->
<div style="text-align: center;">
  <span style="color: #000000;">
    <span style="color: #000000;">
      <strong><span style="font-size: 18pt;">Cassandra </span></strong>
    </span>
  </span>
  <span style="color: #000000;">
    <span style="font-size: 18pt; color: #999999;">
      <span style="font-size: 12pt;">
        Makeup Artist
      </span>
    </span>
  </span>
</div><!--  [/text_dd][spacer_dd pixels='50'][/spacer_dd][/column_dd][column_dd span='3' class='center_aligned'][image_dd url='http://mystyleblox.com/wp-content/uploads/2014/12/Featured_Talent-4.png' animation='fadeIn' duration='0' delay='0' class='center_aligned'][/image_dd][text_dd]  -->
<div style="text-align: center;">
  <span style="color: #000000;">
    <span style="color: #000000;">
      <span style="color: #000000;">
        <strong><span style="font-size: 18pt;">Steven</span></strong> 
        <strong><span style="font-size: 18pt;"> </span></strong>
      </span>
    </span>
  </span>
  <span style="color: #000000;">
    <span style="font-size: 18pt; color: #999999;">
      <span style="font-size: 12pt;">
        Stylist
      </span>
    </span>
  </span>
</div> <!-- [/text_dd][spacer_dd pixels='50'][/spacer_dd][/column_dd][/section_dd][section_dd][column_dd span='12'][spacer_dd pixels='50'][/spacer_dd][/column_dd][/section_dd][section_dd section_title='Stay Connected with My Style Blox' section_id='social' class='color_overlayed section-facebook' fullwidth='1' bg_image='http://mystyleblox.com/wp-content/uploads/2014/12/socialbackground.png'][column_dd span='12'][follow_us_dd twitter='https://twitter.com/StyleBlox' facebook='https://www.facebook.com/styleblox' instagram='http://instagram.com/styleblox'][/follow_us_dd][spacer_dd pixels='60'][/spacer_dd][/column_dd][/section_dd] -->