<td><% male.height %></td>
<td><% male.weight %></td>
<td><% male.age %></td>
<td><% male.hair_c %></td>
<td><% male.hair_l %></td>
<td><% male.eyes %></td>
<td><% male.suit %></td>
<td><% male.chest %></td>
<td><% male.pant %></td>
<td><% male.shoes %></td>
<td><% male.skin %></td>
<td><% male.tattoo %></td>
<td><% male.pierce %></td>
<td><% male.scar %></td>
<td><% male.nudity %></td>
<td><% male.experience %></td>
<td><% male.rate %></td>
<td><% male.user%></td>
<td><%= image_tag male.user.images.first.picture %></td>

<td><% link_to 'Show', male %></td>
<td><% link_to 'Edit', edit_male_path(male) %></td>
<td><% link_to 'Destroy', male, method: :delete, data: { confirm: 'Are you sure?' } %></td>