<p id="notice"><%= notice %></p>


<section class="full_profile">
	
<%= render 'profileMale' %>

<a href="mailto:<%=@male.user.email%>">Link text</a>


<div class="col-md-12">
	<% link_to 'Back', males_path %>
</div>

</section>





