/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

.fc-day-grid-event {
	height: 100px;
}

#calendar {
	margin-top: 30px;
  width: 100%;
  height: 100%;
}


#calendar h2 {
	font-size: 12px;
}

.mainDrop {
  background-color: #ff4351;
  color:black;
}
.fc-today-button{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  height: 2.1em;
  font-size: .8em;
  white-space: nowrap;
  cursor: pointer;
}
