// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
	padding: 0px;
	margin: 0px;
	color: blue;
	background-color: white;
}

p { 
	color: black;
}

#logo{
  width: 300px;
}

.img-width{
	width: 100%;
	padding: 0px;
	margin: 0px;
}

div{

}