<table>
  <thead>
    <tr>
      <th>Height</th>
      <th>Weight</th>
      <th>Age</th>
      <th>Hair c</th>
      <th>Hair l</th>
      <th>Eyes</th>
      <th>Bust</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Dress</th>
      <th>Shoes</th>
      <th>Skin</th>
      <th>Tattoo</th>
      <th>Pierce</th>
      <th>Scar</th>
      <th>Nudity</th>
      <th>Experience</th>
      <th>Rate</th>
      <th>Style</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @females.each do |female| %>
      <tr><%= render 'stats', female:female %></tr>
    <% end %>
  </tbody>
</table>