<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Thank's for booking!</h2>
        <h3 class="section-subheading text-muted">Now that you are booked here are some steps to help you even more along the way.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="glyphicon glyphicon-search"></i>
        </span>
        <h4 class="service-heading">Don't stop now</h4>
        <p class="text-muted">If you need more than one talent, continue browsing and find everyone you need for your production.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="glyphicon glyphicon-envelope"></i>
        </span>
        <h4 class="service-heading">Constant contact</h4>
        <p class="text-muted">Continue to stay in contact with your talent, just in case job details change. Just go into your messages and keep the conversation going.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="glyphicon glyphicon-picture"></i>
        </span>
        <h4 class="service-heading">Stay up to date</h4>
        <p class="text-muted">After the production is over, update your profile to show the kind of work you do. </p>
      </div>
    </div>
  </div>
</section>
