   <div style="text-align: center">

        <h2 style="; margin-bottom: 25px; text-transform: uppercase; font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 50px; font-weight: 700; line-height: 50px;">Thank's for booking!</h2>
        <h3 style="color: #777; margin-top: 0; margin-bottom: 15px; font-size: 20px; color: #666; padding-bottom: 50px;">Now that you are booked here are some steps to help you even more along the way.</h3>

        <h3 style="color: #777; margin-top: 0; margin-bottom: 15px; font-size: 20px; color: #666; padding-bottom: 50px;">Don't stop now</h3>
        <p>If you need more than one talent, continue browsing and find everyone you need for your production.</p>

        <h3 style="color: #777; margin-top: 0; margin-bottom: 15px; font-size: 20px; color: #666; padding-bottom: 50px;">Constant contact</h3>
        <p>Continue to stay in contact with your talent, just in case job details change. Just go into your messages and keep the conversation going.</p>

        <h3 style="color: #777; margin-top: 0; margin-bottom: 15px; font-size: 20px; color: #666; padding-bottom: 50px;">Stay up to date</h3>
        <p>After the production is over, update your profile to show the kind of work you do. </p>


   </div>
