
   <div id='thank-you'>

        <h2>Thank's for booking!</h2>
        <h3>Now that you are booked here are some steps to help you even more along the way.</h3>

        <h4>Don't stop now</h4>
        <p>If you need more than one talent, continue browsing and find everyone you need for your production.</p>

        <h4>Constant contact</h4>
        <p>Continue to stay in contact with your talent, just in case job details change. Just go into your messages and keep the conversation going.</p>

        <h4>Stay up to date</h4>
        <p>After the production is over, update your profile to show the kind of work you do. </p>


   </div>
