<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $500.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="New talent booking"
          data-amount="50000"
          data-image=url('<%= image_path "img/msb-red.png" %>')
          data-name="My Style Blox"
          data-label="Book now"></script>
<% end %>